@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;

::-webkit-scrollbar {
  @apply h-2.5 w-2.5;
}
::-webkit-scrollbar-track {
  @apply bg-primary-light-1 dark:bg-primary-dark-1;
}
::-webkit-scrollbar-thumb {
  @apply rounded-full border-2 border-solid border-body-light-1 bg-body-light-8 hover:bg-body-light-9 dark:border-body-dark-1 dark:bg-body-dark-8 dark:hover:bg-body-dark-9;
}
::-webkit-scrollbar-corner {
  @apply bg-transparent;
}

* {
  @apply focus-visible:outline-none focus-visible:ring-[3px] focus-visible:ring-primary focus-visible:!ring-opacity-50;
}

html {
  @apply scroll-smooth font-body;
  color-scheme: light;
}

[data-web-theme="dark"] {
  color-scheme: dark;
}

body {
  @apply relative overflow-x-hidden bg-primary-light-1 text-base font-normal text-body-light-11 dark:bg-primary-dark-1 dark:text-body-dark-11;
}

img,
svg {
  @apply w-auto max-w-full;
}

a {
  @apply break-words text-primary-light-10 underline hover:text-primary-light-9 dark:text-primary-dark-10 dark:hover:text-primary-dark-9;
}

a,
button {
  @apply cursor-pointer;
}

button,
input,
select,
textarea {
  @apply border-0 bg-inherit text-inherit;
}

ul,
ol {
  @apply list-none;
}

strong {
  @apply font-bold text-body-light-12 dark:text-body-dark-12;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply m-0 text-wrap font-heading font-semibold text-body-light-12 dark:text-body-dark-12;
}

h1 {
  @apply text-5xl/tight;
}
h2 {
  @apply text-4xl/tight;
}
h3 {
  @apply text-3xl/tight;
}
h4 {
  @apply text-2xl/tight;
}
h5 {
  @apply text-xl/tight;
}
h6 {
  @apply text-lg/tight;
}

p {
  @apply m-0 text-[1em] text-inherit;
}

@tailwind components;

.rh-preloader-container {
  @apply fixed bottom-0 left-0 right-0 top-0 z-[2000] flex items-center justify-center bg-primary-light-1 before:absolute before:-bottom-[80%] before:left-[7%] before:h-[200%] before:w-10 before:-rotate-45 before:bg-primary before:opacity-50 before:blur-3xl before:content-[""] after:absolute after:-top-[85%] after:right-[5%] after:h-[200%] after:w-10 after:-rotate-45 after:bg-primary after:opacity-50 after:blur-3xl after:content-[""] dark:bg-primary-dark-1;
}
.rh-preloader {
  @apply h-20 w-20 animate-bounce lg:h-24 lg:w-24;
}

.rh-navbar {
  @apply fixed left-0 top-0 z-[1020] flex h-20 w-full flex-wrap items-center justify-center border-b border-transparent bg-transparent transition-[height,box-shadow] duration-300 md:h-[120px];
}
.rh-navbar.isSticky {
  @apply h-20 border-body-light-a5 bg-primary-light-1 bg-opacity-80 shadow-navbar backdrop-blur-md dark:border-body-dark-a5 dark:bg-primary-dark-1 dark:bg-opacity-80;
}
.rh-navbar-wrapper {
  @apply relative flex flex-wrap items-center justify-between;
}
.rh-navbar-logo {
  @apply inline-flex;
}
.rh-navbar-logo > svg {
  @apply h-9 fill-body-light-12 dark:fill-body-dark-12;
}
.rh-navbar-desktop {
  @apply invisible hidden xl:visible xl:ml-12 xl:flex xl:grow xl:items-center xl:gap-5;
}
.rh-navbar-mobile {
  @apply xl:!invisible xl:!hidden;
}
.rh-nav-desktop {
  @apply flex gap-4;
}
.rh-nav-mobile {
  @apply flex w-full flex-col;
}
.rh-nav-link {
  @apply inline-block rounded-lg px-[1em] py-[0.6em] text-sm/normal font-medium text-body-light-11 no-underline hover:text-body-light-12 focus:text-body-light-12 dark:text-body-dark-11 dark:hover:text-body-dark-12 dark:focus:text-body-dark-12;
}
.rh-nav-mobile .rh-nav-link {
  @apply w-full;
}
.rh-nav-link.isActive {
  @apply text-primary;
}
.rh-navbar-toggler {
  @apply inline-block xl:!hidden;
}

.rh-button {
  @apply inline-block select-none text-nowrap rounded-lg border border-solid border-transparent bg-transparent fill-current px-[1.2em] py-[0.6em] text-center text-base font-medium text-inherit no-underline hover:bg-inherit hover:text-inherit;
}
.rh-button-sm {
  @apply rounded-md px-[0.9em] py-[0.3em] text-sm/normal;
}
.rh-button-lg {
  @apply rounded-xl px-[1.5em] py-[0.8em] text-lg/normal;
}
.rh-button-primary {
  @apply bg-primary text-white hover:bg-primary/90 hover:text-white focus-visible:ring-primary;
}
.rh-button-secondary {
  @apply bg-body-light-a5 text-body-light-12 hover:bg-body-light-a4 hover:text-body-light-12 focus-visible:ring-body-light-12 dark:bg-body-dark-a5 dark:text-body-dark-12 dark:hover:bg-body-dark-a4 dark:hover:text-body-dark-12 dark:focus-visible:ring-body-dark-12;
}
.rh-button-white {
  @apply bg-white text-black hover:bg-white/90 hover:text-black focus-visible:ring-white;
}
.rh-button-ghost {
  @apply bg-transparent text-body-light-12 hover:bg-body-light-a5 hover:text-body-light-12 focus-visible:ring-body-light-12 dark:text-body-dark-12 dark:hover:bg-body-dark-a5 dark:hover:text-body-dark-12 dark:focus-visible:ring-body-dark-12;
}
.rh-button-outline {
  @apply border-body-light-a5 bg-transparent text-body-light-12 hover:border-transparent hover:bg-body-light-a5 hover:text-body-light-12 focus-visible:ring-body-light-12 dark:border-body-dark-a5 dark:text-body-dark-12 dark:hover:bg-body-dark-a5 dark:hover:text-body-dark-12 dark:focus-visible:ring-body-dark-12;
}
.rh-button-outline-white {
  @apply border-white bg-transparent text-white hover:border-transparent hover:bg-white hover:text-black focus-visible:ring-white;
}
.rh-button-icon-sm {
  @apply rounded-md p-2 !leading-none;
}
.rh-button-icon {
  @apply p-3 !leading-none;
}

.rh-form-label {
  @apply mb-2 block;
}
.rh-form-text {
  @apply mt-1 text-sm/normal text-body-light-10 dark:text-body-dark-10;
}
.rh-form-control {
  @apply block w-full appearance-none rounded-lg border border-solid border-body-light-a5 bg-primary-light-2 bg-clip-padding px-[1.2em] py-[0.6em] text-base font-normal text-body-light-11 outline-none focus:border-primary focus-visible:ring-primary dark:border-body-dark-a5 dark:bg-primary-dark-1 dark:text-body-dark-11;
}
.rh-form-control-sm {
  @apply rounded-md px-[0.9em] py-[0.3em] text-sm/normal;
}
.rh-form-control-lg {
  @apply rounded-xl px-[1.5em] py-[0.8em] text-lg/normal;
}
textarea.rh-form-control {
  @apply resize-none;
}
.rh-form-select {
  @apply block w-full appearance-none rounded-lg border border-solid border-body-light-a5 bg-primary-light-2 bg-[right_1.2em_center] bg-no-repeat py-[0.6em] pl-[1.2em] pr-[calc(1.5rem+1.2em)] text-base font-normal text-body-light-11 outline-none [background-size:16px_12px] focus:border-primary focus-visible:ring-primary dark:border-body-dark-a5 dark:bg-primary-dark-1 dark:text-body-dark-11;
  --rh-form-select-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%231e1f24' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
  background-image: var(--rh-form-select-bg-image);
}
[data-web-theme="dark"] .rh-form-select {
  --rh-form-select-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23eeeef0' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
}
.rh-form-select-sm {
  @apply rounded-md py-[0.3em] pl-[0.9em] pr-[calc(1.375rem+0.9em)] text-sm/normal;
}
.rh-form-select-lg {
  @apply rounded-md py-[0.8em] pl-[1.5em] pr-[calc(1.675rem+1.5em)] text-sm/normal;
}
.rh-form-check {
  @apply mb-0.5 block min-h-6 pl-[1.75em];
}
.rh-form-check .rh-form-check-input {
  @apply float-left -ml-[1.75em];
}
.rh-form-check-reverse {
  @apply pl-0 pr-[1.75em] text-right;
}
.rh-form-check-reverse .rh-form-check-input {
  @apply float-right -mr-[1.75em] ml-0;
}
.rh-form-check-inline {
  @apply mr-4 inline-block;
}
.rh-form-check-input {
  @apply mt-1 h-[1em] w-[1em] cursor-pointer appearance-none border border-solid border-body-light-a5 bg-primary-light-2 bg-contain bg-center bg-no-repeat align-top outline-none checked:border-primary checked:bg-primary focus:border-primary-light-a8 focus-visible:border-primary active:brightness-90 dark:border-body-dark-a5 dark:bg-primary-dark-1 dark:focus:border-primary-dark-a8;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
  background-image: var(--rh-form-check-bg-image);
}
.rh-form-check-input[type="checkbox"] {
  @apply rounded-[0.25em];
}
.rh-form-check-input[type="radio"] {
  @apply rounded-full;
}
.rh-form-check-input[type="checkbox"]:checked {
  --rh-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
}
.rh-form-check-input[type="radio"]:checked {
  --rh-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e");
}
.rh-form-check-input[type="checkbox"]:indeterminate,
.rh-form-check-input[type="checkbox"][indeterminate] {
  @apply border-primary bg-primary;
}
.rh-form-check-label {
  @apply cursor-pointer select-none text-base;
}

.rh-hover-glowing-primary {
  @apply transition-[filter] duration-300 hover:drop-shadow-[0_0_2em_#0d6efdaa];
}

.rh-modal {
  @apply invisible fixed inset-0 left-0 right-0 top-0 z-[1040] flex h-dvh max-h-full w-full items-center justify-center overflow-y-auto overflow-x-hidden bg-black bg-opacity-40 backdrop-blur;
}
.rh-modal.rh-modal-top {
  @apply items-start;
}
.rh-modal.isShowing,
.rh-modal.isShowed {
  @apply visible;
}
.rh-modal-dialog {
  @apply relative inset-0 max-h-full w-full max-w-2xl p-5;
}
.rh-modal-content {
  @apply relative w-full scale-95 transform rounded-2xl bg-primary-light-1 opacity-0 shadow transition-[transform,opacity] duration-300 dark:bg-primary-dark-1;
}
.rh-modal.isShowed .rh-modal-content {
  @apply scale-100 opacity-100;
}
.rh-modal-header {
  @apply flex items-center justify-between rounded-t-md border-b border-solid border-body-light-a5 p-5 dark:border-body-dark-a5;
}
.rh-modal-body {
  @apply h-full p-5;
}
.rh-modal-footer {
  @apply flex items-center rounded-b-md border-t border-solid border-body-light-a5 p-5 dark:border-body-dark-a5;
}

.rh-main {
  @apply relative pt-20;
}
.rh-main-background-container {
  @apply absolute bottom-0 left-0 right-0 top-0 -z-[1] block overflow-hidden;
}
.rh-main-blur-background-1 {
  @apply absolute left-1/2 top-0 inline-block h-full max-h-[320px] w-full max-w-[320px] -translate-x-1/2 -translate-y-2/3 rounded-full bg-primary opacity-50 blur-[128px];
}
.rh-main-blur-background-2 {
  @apply absolute left-[15%] top-0 inline-block h-[480px] w-14 -translate-y-[20%] -rotate-45 rounded-lg bg-primary opacity-50 blur-3xl;
}
.rh-main-blur-background-3 {
  @apply absolute bottom-32 right-[10%] inline-block h-[480px] w-14 -rotate-45 rounded-lg bg-primary opacity-50 blur-3xl;
}

.rh-bg-border-grid {
  @apply relative bg-transparent bg-center bg-repeat [background-size:48px_48px];
  background-image: linear-gradient(#00104010 1px, transparent 1px),
    linear-gradient(to right, #00104010 1px, transparent 1px);
  mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    #fcfdff 30%,
    #fcfdff 70%,
    transparent 100%
  );
  -webkit-mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    #fcfdff 30%,
    #fcfdff 70%,
    transparent 100%
  );
}
[data-web-theme="dark"] .rh-bg-border-grid {
  background-image: linear-gradient(#cbcbf90b 1px, transparent 1px),
    linear-gradient(to right, #cbcbf90b 1px, transparent 1px);
  mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    #09111e 30%,
    #09111e 70%,
    transparent 100%
  );
  -webkit-mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    #09111e 30%,
    #09111e 70%,
    transparent 100%
  );
}

.rh-section {
  @apply relative py-12 md:py-20;
}
.rh-section-subtitle {
  @apply block font-body text-base font-semibold text-primary;
}
.rh-section-title-wrapper {
  @apply mx-auto mb-8 max-w-3xl text-center md:mb-12;
}
.rh-section-title {
  @apply text-4xl tracking-tight md:text-5xl;
}
.rh-section-description {
  @apply mt-4 text-lg/normal;
}

.rh-badge-modern {
  @apply inline-flex items-center gap-x-1.5 text-nowrap rounded-full bg-primary-light-a2 px-3 py-1 text-sm/normal font-semibold text-primary no-underline hover:bg-primary-light-a3 hover:text-primary-light-11 dark:bg-primary-dark-a2 dark:hover:bg-primary-dark-a3 dark:hover:text-primary-dark-11;
}
.rh-badge-icon {
  @apply text-xs/normal;
}

.rh-hero-section {
  @apply flex h-[calc(100vh-80px)] items-center md:max-h-[688px];
}
.rh-hero-title {
  @apply mx-auto max-w-4xl text-center text-5xl font-bold tracking-tight sm:text-7xl;
}
.rh-hero-text {
  @apply mx-auto max-w-2xl text-center text-lg;
}
.rh-hero-buttons {
  @apply mx-auto flex max-w-xs flex-col flex-nowrap gap-4 sm:max-w-md sm:flex-row sm:justify-center;
}

.rh-bg-stacked-steps-1,
.rh-bg-stacked-steps-2,
.rh-bg-stacked-steps-3,
.rh-bg-stacked-steps-4 {
  @apply bg-cover bg-center bg-no-repeat;
}
.rh-bg-stacked-steps-1 {
  @apply bg-stacked-waves-1;
}
.rh-bg-stacked-steps-2 {
  @apply bg-stacked-waves-2;
}
.rh-bg-stacked-steps-3 {
  @apply bg-stacked-waves-3;
}
.rh-bg-stacked-steps-4 {
  @apply bg-stacked-waves-4;
}

.rh-shape-divider-top,
.rh-shape-divider-bottom {
  @apply w-full overflow-hidden leading-none;
}
.rh-shape-divider-bottom {
  @apply rotate-180;
}
.rh-shape-divider-top.rh-shape-invert,
.rh-shape-divider-bottom.rh-shape-invert {
  @apply rotate-180;
}
.rh-shape-divider-top.rh-shape-flip svg,
.rh-shape-divider-bottom.rh-shape-flip svg {
  @apply [transform:rotateY(180deg)];
}
/* .rh-shape-divider-top {
  @apply -translate-y-px;
}
.rh-shape-divider-bottom {
  @apply translate-y-px;
} */
.rh-shape-divider-top svg,
.rh-shape-divider-bottom svg {
  @apply block h-10 w-full fill-inherit md:h-[70px] xl:h-[100px];
}

.rh-card {
  @apply relative rounded-2xl border border-solid border-body-light-a5 bg-body-light-a1 p-6 backdrop-blur lg:p-7 dark:border-body-dark-a5 dark:bg-body-dark-a2;
}

.rh-portfolio-item {
  @apply relative overflow-hidden rounded-2xl text-center;
}
.rh-portfolio-image {
  @apply aspect-[3/2] w-full;
}
.rh-portfolio-image img {
  @apply h-full w-full object-cover object-center;
}
.rh-portfolio-wrapper {
  @apply invisible absolute left-0 top-0 h-full w-full bg-primary/75 opacity-0 transition-[opacity,visibility] duration-300;
}
.rh-portfolio-item:hover .rh-portfolio-wrapper {
  @apply visible opacity-100;
}
.rh-portfolio-content {
  @apply absolute left-0 top-1/2 w-full -translate-y-1/2;
}
.rh-portfolio-name {
  @apply mb-4 -translate-y-full text-2xl/tight text-white opacity-0 transition-[opacity,transform] duration-300;
}
.rh-portfolio-item:hover .rh-portfolio-name {
  @apply translate-y-0 opacity-100;
}
.rh-portfolio-nav {
  @apply relative flex justify-center gap-7 pt-[18px] before:absolute before:left-1/2 before:top-0 before:h-0.5 before:w-[60px] before:-translate-x-1/2 before:rounded-full before:bg-white before:content-[""];
}
.rh-portfolio-nav-item {
  @apply transform opacity-0 transition-[transform,opacity] duration-300 first:-translate-x-full last:translate-x-full;
}
.rh-portfolio-item:hover .rh-portfolio-nav-item {
  @apply translate-x-0 opacity-100;
}
.rh-portfolio-nav-link {
  @apply inline-flex h-[46px] w-[46px] items-center justify-center rounded-lg border border-solid border-white text-2xl/none text-white hover:bg-white hover:text-primary;
}

#spotlight {
  @apply [font-family:inherit];
}
.spl-title {
  @apply text-xl/tight font-semibold;
}
.spl-description {
  @apply text-sm/normal;
}
.spl-prev,
.spl-next {
  @apply rounded-lg;
}

.rh-testimonial {
  @apply flex h-full w-full flex-col gap-6 border-body-dark-a5 bg-body-dark-a2 px-6 py-8 text-body-dark-11 sm:px-8;
}
.rh-testimonial-client {
  @apply flex gap-4;
}
.rh-testimonial-client-picture {
  @apply h-[50px] w-[50px] overflow-hidden;
}
.rh-testimonial-client-picture img {
  @apply h-full w-full rounded-full object-cover object-center;
}
.rh-testimonial-client-info {
  @apply grow pt-[3px];
}
.rh-testimonial-client-name {
  @apply text-base font-semibold text-body-dark-12;
}
.rh-testimonial-client-job {
  @apply text-sm/normal;
}
.rh-testimonial-content {
  @apply shrink grow basis-full;
}

.rh-featured-post {
  @apply max-[480px]:!aspect-square lg:!aspect-auto lg:!h-full;
}

.rh-overlay-blog-card {
  @apply relative block aspect-[4/3] w-full overflow-hidden rounded-2xl;
}
.rh-overlay-blog-card-thumbnail {
  @apply relative h-full w-full bg-cover bg-center bg-no-repeat after:absolute after:left-0 after:top-0 after:h-full after:w-full after:bg-gradient-to-t after:from-black/90 after:to-black/0 after:content-[""];
}
.rh-overlay-blog-card-content {
  @apply absolute bottom-0 left-0 w-full p-6;
}
.rh-overlay-blog-card-title {
  @apply mb-4 line-clamp-2 text-2xl/tight text-white lg:text-3xl/tight;
}
.rh-overlay-blog-card-description {
  @apply line-clamp-2 text-base text-white/75;
}
.rh-overlay-blog-card-detail {
  @apply mt-4 flex list-none items-center justify-between gap-3 text-xs/normal text-white/75;
}

.rh-row-blog-card {
  @apply flex w-full flex-col gap-6 sm:flex-row;
}
.rh-row-blog-card-thumbnail {
  @apply aspect-[3/2] w-full rounded-2xl bg-cover bg-center bg-no-repeat sm:h-[170px] sm:w-auto;
}
.rh-row-blog-card-content {
  @apply flex-1;
}
.rh-row-blog-card-title {
  @apply mb-4 line-clamp-2 text-2xl/tight;
}
.rh-row-blog-card-description {
  @apply line-clamp-2 text-base;
}
.rh-row-blog-card-detail {
  @apply mt-4 flex list-none items-center justify-between gap-3 text-xs/normal;
}

.rh-blog-card {
  @apply flex w-full flex-col gap-6;
}
.rh-blog-card-thumbnail {
  @apply aspect-[3/2] w-full rounded-2xl bg-cover bg-center bg-no-repeat;
}
.rh-blog-card-content {
  @apply flex-1;
}
.rh-blog-card-title {
  @apply mb-4 line-clamp-2 text-2xl/tight;
}
.rh-blog-card-description {
  @apply line-clamp-2 text-base;
}
.rh-blog-card-detail {
  @apply mt-4 flex list-none items-center justify-between gap-3 text-xs/normal;
}

.rh-subscribe-box {
  @apply h-full w-full rounded-2xl p-7 text-white/75 sm:px-6 md:p-[50px];
}
.rh-subscribe-box-wrapper {
  @apply grid grid-cols-1 items-center gap-6 lg:grid-cols-2;
}

.rh-footer {
  @apply bg-primary-dark-1 text-white/75 dark:bg-primary-dark-2;
}
.rh-footer-content {
  @apply mx-auto max-w-3xl py-14 text-center;
}
.rh-footer-logo {
  @apply mb-10 inline-flex;
}
.rh-footer-logo svg {
  @apply h-[42px] fill-white;
}
.rh-footer-copyright {
  @apply flex flex-col items-center gap-y-6 border-t border-solid border-body-dark-5 py-8 text-center text-white/60 md:flex-row-reverse md:justify-between md:gap-y-0;
}

.rh-scroll-top {
  @apply invisible fixed bottom-5 right-5 z-[1030] inline-flex h-[46px] w-[46px] items-center justify-center p-0 opacity-0 shadow-md transition-[opacity,visibility] duration-300 hover:scale-100;
}
.rh-scroll-top.isShowed {
  @apply visible opacity-30 hover:opacity-100;
}

.rh-social-link {
  @apply inline-flex h-10 w-10 items-center justify-center rounded-full bg-primary text-xl/none text-white hover:bg-primary hover:text-white;
}
.rh-social-link.social-behance {
  @apply bg-behance text-white hover:bg-primary hover:text-white;
}
.rh-social-link.social-dribbble {
  @apply bg-dribbble text-white hover:bg-primary hover:text-white;
}
.rh-social-link.social-github {
  @apply bg-github text-white hover:bg-primary hover:text-white dark:bg-github-light dark:text-black;
}
.rh-social-link.social-linkedin {
  @apply bg-linkedin text-white hover:bg-primary hover:text-white;
}
.rh-social-link.social-facebook {
  @apply bg-facebook text-white hover:bg-primary hover:text-white;
}
.rh-social-link.social-x {
  @apply bg-x text-white hover:bg-primary hover:text-white;
}
.rh-social-link.social-twitter {
  @apply bg-twitter text-white hover:bg-primary hover:text-white;
}
.rh-social-link.social-whatsapp {
  @apply bg-whatsapp text-white hover:bg-primary hover:text-white;
}
.rh-social-link.social-email {
  @apply bg-email text-white hover:bg-primary hover:text-white;
}

.rh-step-list {
  @apply relative space-y-2;
}
.rh-step-list-item {
  @apply flex gap-5;
}
.rh-step-list-item-icon-wrapper {
  @apply flex flex-col items-center gap-2;
}
.rh-step-list-item-icon {
  @apply inline-flex aspect-square h-10 w-10 items-center justify-center rounded-lg bg-primary text-white;
}
.rh-step-list-item-icon-line {
  @apply w-px flex-1 bg-body-light-a6 dark:bg-body-dark-a6;
}
.rh-step-list-item:last-child .rh-step-list-item-icon-line {
  @apply hidden;
}
.rh-step-list-item-content {
  @apply pb-6 pt-1;
}
.rh-step-list-item:last-child .rh-step-list-item-content {
  @apply pb-0;
}

.rh-skill-item {
  @apply flex max-w-full flex-row sm:max-w-md;
}
.rh-skill-item-marker {
  @apply mr-3 mt-0.5 flex h-6 w-6 items-center justify-center;
}
.rh-skill-item-mark {
  @apply inline-block h-2.5 w-2.5 flex-shrink-0 rounded-full bg-primary;
}
.rh-skill-item-content {
  @apply mt-0.5;
}
.rh-skill-item-name {
  @apply text-lg/tight font-semibold;
}
.rh-skill-item-description {
  @apply mt-0.5;
}

.rh-map-container {
  @apply relative my-12 h-[480px] w-full md:h-[567px];
}

.rh-pagination-container {
  @apply flex w-full justify-center;
}
.rh-pagination {
  @apply flex flex-wrap justify-center gap-2;
}
.rh-pagination-link {
  @apply inline-block min-w-[42px] select-none text-nowrap rounded-lg border border-solid border-transparent bg-transparent p-3 text-center text-base/none font-medium text-inherit no-underline hover:bg-body-light-a3 hover:text-body-light-12 focus-visible:ring-body-light-12 dark:hover:bg-body-dark-a3 dark:hover:text-body-dark-12 dark:focus-visible:ring-body-dark-12;
}
.rh-pagination-link.isActive {
  @apply bg-primary text-white focus-visible:ring-primary;
}
.rh-pagination-text {
  @apply inline-flex min-w-[42px] items-center justify-center rounded-lg bg-transparent p-3 font-medium;
}

.rh-dropdown {
  @apply relative;
}
.rh-dropdown-toggle-icon {
  @apply ml-2;
}
.rh-dropdown-toggle:empty .rh-dropdown-toggle-icon {
  @apply ml-0;
}
.rh-dropdown-content {
  @apply invisible absolute z-[1000] block min-w-full rounded-lg border border-solid border-body-light-a5 bg-primary-light-1 bg-clip-padding text-left dark:border-body-dark-a5 dark:bg-primary-dark-1;
}
.rh-dropdown-content.isShowed {
  @apply visible;
}
.rh-dropdown-menu {
  @apply px-1 py-2;
}
.rh-dropdown-link {
  @apply clear-both block cursor-pointer rounded bg-transparent px-4 py-2 text-body-light-11 no-underline hover:bg-body-light-a3 hover:text-body-light-12 dark:text-body-dark-11 dark:hover:bg-body-dark-a3 dark:hover:text-body-dark-12;
}

.rh-article-title {
  @apply text-wrap font-body text-4xl font-bold leading-tight tracking-tight md:text-5xl;
}
.rh-article-detail {
  @apply flex flex-col gap-3 md:flex-row md:items-center;
}
.rh-article-thumbnail {
  @apply mx-auto aspect-video h-full w-full max-w-full rounded-xl object-cover object-center lg:max-w-[900px];
}
.rh-article-content {
  @apply space-y-5 text-base md:text-lg/normal;
}
.rh-article-content > * {
  @apply first:!mt-0 last:!mb-0;
}
.rh-article-content h1,
.rh-article-content h2,
.rh-article-content h3,
.rh-article-content h4,
.rh-article-content h5,
.rh-article-content h6 {
  @apply !mt-10 font-body font-semibold tracking-tight;
}
.rh-article-content ol,
.rh-article-content ul {
  @apply flex-col space-y-3 pl-8;
}
.rh-article-content ol {
  @apply list-decimal;
}
.rh-article-content ol li,
.rh-article-content ul li {
  @apply space-y-3 ps-[0.5em];
}
.rh-article-content ul {
  @apply list-disc;
}
.rh-article-content img {
  @apply rounded-xl;
}

.rh-avatar-media {
  @apply flex items-center space-x-4;
}
.rh-avatar-picture {
  @apply h-10 w-10 rounded-full object-cover object-center;
}
.rh-avatar-content {
  @apply font-medium;
}
.rh-avatar-name {
  @apply font-body text-base font-semibold;
}
.rh-avatar-text {
  @apply text-sm;
}

.rh-toc-box {
  @apply rounded-xl border border-solid border-body-light-a5 bg-body-light-a3 p-5 md:p-7 dark:border-body-dark-a5 dark:bg-body-dark-a3;
}
.rh-toc-title {
  @apply mb-4 font-body font-semibold;
}
.rh-toc {
  @apply w-full;
}
.rh-toc-link {
  @apply block text-wrap py-0.5 text-sm/normal text-body-light-11 no-underline hover:text-body-light-12 dark:text-body-dark-11 dark:hover:text-body-dark-12;
}
.rh-toc-link.level-2 {
  @apply pl-4;
}
.rh-toc-link.level-3 {
  @apply pl-8;
}
.rh-toc-link.level-4 {
  @apply pl-12;
}
.rh-toc-link.level-5 {
  @apply pl-16;
}

.anchorjs-link {
  @apply ml-0 inline-block leading-[inherit] text-body-light-a10 hover:text-primary dark:text-body-dark-a10;
}

.rh-codeblock {
  @apply relative overflow-hidden rounded-xl border border-solid border-body-dark-a5 bg-primary-dark-2 text-body-dark-12;
}
.rh-codeblock-head {
  @apply flex w-full items-center justify-between border-b border-solid border-body-dark-a5 bg-body-dark-a2;
}
.rh-codeblock-lang {
  @apply flex-1 pl-2 text-base font-medium;
}
.rh-codeblock-langname {
  @apply inline-block px-3 py-4;
}
.rh-codeblock-buttons {
  @apply flex items-center justify-end border-l border-solid border-body-dark-a5 px-2 text-center;
}
.rh-codeblock-copy {
  @apply inline-flex size-8 items-center justify-center rounded hover:text-body-dark-11;
}
.rh-codeblock-wrapper {
  @apply relative;
}
.rh-codeblock-wrapper pre[class*="language-"] {
  @apply m-0 bg-inherit focus-visible:ring-1;
}
.rh-codeblock-wrapper code[class*="language-"] {
  @apply !bg-transparent !p-5;
}
.rh-codeblock-wrapper code[class*="language-"]::-webkit-scrollbar-track {
  @apply bg-primary-dark-2;
}
.rh-codeblock-wrapper code[class*="language-"]::-webkit-scrollbar-thumb {
  @apply border-primary-dark-2 bg-body-dark-a8;
}
pre[class*="language-"],
code[class*="language-"] {
  @apply hyphens-none whitespace-pre text-left font-code text-[87.5%] leading-normal text-body-dark-12 [color-scheme:dark] [tab-size:2] [text-shadow:none] [word-break:normal] [word-spacing:normal] [word-wrap:normal];
}

@tailwind utilities;

[disabled],
[aria-disabled="true"],
:disabled {
  @apply !pointer-events-none !select-none !opacity-65;
}
.rh-container {
  @apply container min-[1200px]:!max-w-[1200px];
}

.rh-blog-card-link {
  @apply !inline bg-opacity-50 bg-gradient-to-r from-primary/50 from-0% to-primary/50 to-100% bg-[0_calc(100%-1px)] bg-no-repeat text-inherit no-underline transition-[background] duration-500 [background-size:0_4px] hover:text-inherit hover:[background-size:100%_4px] focus:text-primary focus-visible:ring-0;
}

.rh-blog-card-badge {
  @apply inline-block rounded-md bg-primary px-2.5 py-0.5 font-medium !leading-normal tracking-wide !text-white text-inherit no-underline;
}

.rh-tag {
  @apply inline-block rounded-[0.375em] bg-body-light-a3 px-[0.5em] py-[0.125em] font-medium lowercase text-body-light-11 no-underline hover:text-body-light-12 dark:bg-body-dark-a3 dark:text-body-dark-11 dark:hover:text-body-dark-12;
}
