@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");

*, ::before, ::after{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.12 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden] {
  display: none;
}

html{
  scroll-behavior: smooth;
  font-family: Inter Tight, ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  color-scheme: light;
}

[data-theme-mode="dark"] {
  color-scheme: dark;
}

body{
  position: relative;
  overflow-x: hidden;
  --tw-bg-opacity: 1;
  background-color: rgb(253 253 255 / var(--tw-bg-opacity));
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  --tw-text-opacity: 1;
  color: rgb(98 99 108 / var(--tw-text-opacity));
}

body:where([data-theme-mode=dark], [data-theme-mode=dark] *){
  --tw-bg-opacity: 1;
  background-color: rgb(13 16 30 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(178 179 189 / var(--tw-text-opacity));
}

[tabindex]{
  outline: 2px solid transparent;
  outline-offset: 2px;
}

img{
  width: auto;
  max-width: 100%;
}

a{
  text-wrap: balance;
  overflow-wrap: break-word;
  --tw-text-opacity: 1;
  color: rgb(71 77 223 / var(--tw-text-opacity));
  text-decoration-line: none;
}

a:hover{
  --tw-text-opacity: 1;
  color: rgb(51 30 203 / var(--tw-text-opacity));
}

a:where([data-theme-mode=dark], [data-theme-mode=dark] *){
  --tw-text-opacity: 1;
  color: rgb(155 175 255 / var(--tw-text-opacity));
}

a:hover:where([data-theme-mode=dark], [data-theme-mode=dark] *){
  --tw-text-opacity: 1;
  color: rgb(51 30 203 / var(--tw-text-opacity));
}

a,
  button{
  cursor: pointer;
}

button,
  input,
  select,
  textarea{
  border-width: 0px;
  background-color: inherit;
  color: inherit;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

ul,
  ol{
  list-style-type: none;
}

strong{
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgb(30 31 36 / var(--tw-text-opacity));
}

strong:where([data-theme-mode=dark], [data-theme-mode=dark] *){
  --tw-text-opacity: 1;
  color: rgb(238 238 240 / var(--tw-text-opacity));
}

h1,
  h2,
  h3,
  h4,
  h5,
  h6{
  margin: 0px;
  text-wrap: pretty;
  font-family: Lexend, ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-weight: 500;
  --tw-text-opacity: 1;
  color: rgb(30 31 36 / var(--tw-text-opacity));
}

h1:where([data-theme-mode=dark], [data-theme-mode=dark] *),
  h2:where([data-theme-mode=dark], [data-theme-mode=dark] *),
  h3:where([data-theme-mode=dark], [data-theme-mode=dark] *),
  h4:where([data-theme-mode=dark], [data-theme-mode=dark] *),
  h5:where([data-theme-mode=dark], [data-theme-mode=dark] *),
  h6:where([data-theme-mode=dark], [data-theme-mode=dark] *){
  --tw-text-opacity: 1;
  color: rgb(238 238 240 / var(--tw-text-opacity));
}

h1{
  font-size: 3rem;
  line-height: 1.25;
}

h2{
  font-size: 2.25rem;
  line-height: 1.25;
}

h3{
  font-size: 1.875rem;
  line-height: 1.25;
}

h4{
  font-size: 1.5rem;
  line-height: 1.25;
}

h5{
  font-size: 1.25rem;
  line-height: 1.25;
}

h6{
  font-size: 1.125rem;
  line-height: 1.25;
}

h1 + p,
  h2 + p,
  h3 + p,
  h4 + p,
  h5 + p,
  h6 + p{
  margin-top: 1.5rem;
}

p{
  margin: 0px;
  font-size: 1rem;
  line-height: 1.5rem;
  color: inherit;
}

p + p{
  margin-top: 1.25rem;
}

p + h1,
  p + h2,
  p + h3,
  p + h4,
  p + h5,
  p + h6{
  margin-top: 2rem;
}

.rh-preload{
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  top: 0px;
  z-index: 2000;
  display: flex;
  align-items: center;
  justify-content: center;
  --tw-bg-opacity: 1;
  background-color: rgb(253 253 255 / var(--tw-bg-opacity));
}

.rh-preload:where([data-theme-mode=dark], [data-theme-mode=dark] *){
  --tw-bg-opacity: 1;
  background-color: rgb(18 22 41 / var(--tw-bg-opacity));
}

.rh-navbar{
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 1020;
  display: flex;
  height: 5rem;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-bottom-width: 1px;
  border-style: solid;
  border-color: transparent;
  --tw-bg-opacity: 1;
  background-color: rgb(253 253 255 / var(--tw-bg-opacity));
  transition-property: height;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

@media (min-width: 1024px){
  .rh-navbar{
    height: 120px;
  }
}

.rh-navbar:where([data-theme-mode=dark], [data-theme-mode=dark] *){
  --tw-bg-opacity: 1;
  background-color: rgb(13 16 30 / var(--tw-bg-opacity));
}

.rh-navbar-wrapper{
  position: relative;
  display: flex;
  height: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.rh-navbar-collapse{
  visibility: hidden;
  position: absolute;
  right: 0px;
  top: 100%;
  width: 100%;
  --tw-scale-x: .95;
  --tw-scale-y: .95;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  padding: 1.25rem;
  opacity: 0;
  transition-property: opacity,transform,visibility;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

@media (min-width: 640px){
  .rh-navbar-collapse{
    max-width: 20rem;
  }
}

@media (min-width: 1280px){
  .rh-navbar-collapse{
    visibility: visible;
    position: static;
    width: auto;
    max-width: none;
    flex-grow: 1;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 0px;
    padding-bottom: 0px;
    opacity: 1;
    transition-property: none;
    transition-duration: 0s;
  }
}

.rh-navbar-menu{
  display: flex;
  flex-direction: column;
  border-radius: 0.75rem;
  border-width: 1px;
  border-style: solid;
  border-color: #00104010;
  --tw-bg-opacity: 1;
  background-color: rgb(253 253 255 / var(--tw-bg-opacity));
  padding: 0.75rem;
}

@media (min-width: 1280px){
  .rh-navbar-menu{
    flex-direction: row;
    gap: 2rem;
    border-width: 0px;
    background-color: transparent;
    padding: 0px;
  }
}

.rh-navbar-menu:where([data-theme-mode=dark], [data-theme-mode=dark] *){
  border-color: #d6e2f916;
  --tw-bg-opacity: 1;
  background-color: rgb(13 16 30 / var(--tw-bg-opacity));
}

@media (min-width: 1280px){
  .rh-navbar-menu:where([data-theme-mode=dark], [data-theme-mode=dark] *){
    background-color: transparent;
  }
}

.rh-navbar-link{
  display: inline-block;
  width: 100%;
  padding: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  font-weight: 500;
  --tw-text-opacity: 1;
  color: rgb(98 99 108 / var(--tw-text-opacity));
}

.rh-navbar-link:hover{
  --tw-text-opacity: 1;
  color: rgb(30 31 36 / var(--tw-text-opacity));
}

.rh-navbar-link:focus{
  --tw-text-opacity: 1;
  color: rgb(30 31 36 / var(--tw-text-opacity));
}

@media (min-width: 1280px){
  .rh-navbar-link{
    width: auto;
  }
}

.rh-navbar-link:where([data-theme-mode=dark], [data-theme-mode=dark] *){
  --tw-text-opacity: 1;
  color: rgb(178 179 189 / var(--tw-text-opacity));
}

.rh-navbar-link:hover:where([data-theme-mode=dark], [data-theme-mode=dark] *){
  --tw-text-opacity: 1;
  color: rgb(238 238 240 / var(--tw-text-opacity));
}

.rh-navbar-link:focus:where([data-theme-mode=dark], [data-theme-mode=dark] *){
  --tw-text-opacity: 1;
  color: rgb(238 238 240 / var(--tw-text-opacity));
}

.rh-navbar-toggler{
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: 22px;
  line-height: 1;
  --tw-text-opacity: 1;
  color: rgb(98 99 108 / var(--tw-text-opacity));
}

.rh-navbar-toggler:hover{
  --tw-text-opacity: 1;
  color: rgb(30 31 36 / var(--tw-text-opacity));
}

.rh-navbar-toggler:focus{
  --tw-text-opacity: 1;
  color: rgb(61 54 221 / var(--tw-text-opacity));
}

@media (min-width: 1280px){
  .rh-navbar-toggler{
    display: none;
  }
}

.rh-navbar-toggler:where([data-theme-mode=dark], [data-theme-mode=dark] *){
  --tw-text-opacity: 1;
  color: rgb(178 179 189 / var(--tw-text-opacity));
}

.rh-navbar-toggler:hover:where([data-theme-mode=dark], [data-theme-mode=dark] *){
  --tw-text-opacity: 1;
  color: rgb(238 238 240 / var(--tw-text-opacity));
}

[data-web-trigger="theme"]{
  display: inline-flex;
  height: 42px;
  width: 42px;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  border-width: 0px;
  font-size: 1.125rem;
  line-height: 1;
  --tw-text-opacity: 1;
  color: rgb(98 99 108 / var(--tw-text-opacity));
}

[data-web-trigger="theme"]:hover{
  --tw-text-opacity: 1;
  color: rgb(30 31 36 / var(--tw-text-opacity));
}

[data-web-trigger="theme"]:focus{
  --tw-text-opacity: 1;
  color: rgb(61 54 221 / var(--tw-text-opacity));
}

[data-web-trigger="theme"]:where([data-theme-mode=dark], [data-theme-mode=dark] *){
  --tw-text-opacity: 1;
  color: rgb(178 179 189 / var(--tw-text-opacity));
}

[data-web-trigger="theme"]:hover:where([data-theme-mode=dark], [data-theme-mode=dark] *){
  --tw-text-opacity: 1;
  color: rgb(238 238 240 / var(--tw-text-opacity));
}

.rh-button{
  display: inline-block;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  text-wrap: nowrap;
  border-radius: 9999px;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  background-color: inherit;
  padding-left: 1.75rem;
  padding-right: 1.75rem;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  text-align: center;
  font-weight: 500;
  line-height: 1.5;
  color: inherit;
  text-decoration-line: none;
}

.rh-button:hover{
  background-color: inherit;
  color: inherit;
}

.rh-button:focus{
  background-color: inherit;
  color: inherit;
}

.rh-button-primary{
  --tw-bg-opacity: 1;
  background-color: rgb(61 54 221 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.rh-button-primary:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(51 30 203 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.rh-button-primary:focus{
  --tw-bg-opacity: 1;
  background-color: rgb(51 30 203 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.rh-button-primary:hover:where([data-theme-mode=dark], [data-theme-mode=dark] *){
  --tw-bg-opacity: 1;
  background-color: rgb(51 30 203 / var(--tw-bg-opacity));
}

.rh-button-primary:focus:where([data-theme-mode=dark], [data-theme-mode=dark] *){
  --tw-bg-opacity: 1;
  background-color: rgb(51 30 203 / var(--tw-bg-opacity));
}

.rh-button-white{
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}

.rh-button-white:hover{
  background-color: rgb(255 255 255 / 0.75);
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}

.rh-button-white:focus{
  background-color: rgb(255 255 255 / 0.75);
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}

.rh-button-white:hover:where([data-theme-mode=dark], [data-theme-mode=dark] *){
  background-color: rgb(255 255 255 / 0.75);
}

.rh-button-white:focus:where([data-theme-mode=dark], [data-theme-mode=dark] *){
  background-color: rgb(255 255 255 / 0.75);
}

.rh-button-outline-secondary{
  --tw-border-opacity: 1;
  border-color: rgb(185 187 198 / var(--tw-border-opacity));
  background-color: transparent;
  --tw-text-opacity: 1;
  color: rgb(30 31 36 / var(--tw-text-opacity));
}

.rh-button-outline-secondary:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(185 187 198 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(30 31 36 / var(--tw-text-opacity));
}

.rh-button-outline-secondary:focus{
  --tw-bg-opacity: 1;
  background-color: rgb(185 187 198 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(30 31 36 / var(--tw-text-opacity));
}

.rh-button-outline-secondary:where([data-theme-mode=dark], [data-theme-mode=dark] *){
  --tw-border-opacity: 1;
  border-color: rgb(95 96 106 / var(--tw-border-opacity));
  --tw-text-opacity: 1;
  color: rgb(238 238 240 / var(--tw-text-opacity));
}

.rh-button-outline-secondary:hover:where([data-theme-mode=dark], [data-theme-mode=dark] *){
  --tw-bg-opacity: 1;
  background-color: rgb(95 96 106 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(238 238 240 / var(--tw-text-opacity));
}

.rh-button-outline-secondary:focus:where([data-theme-mode=dark], [data-theme-mode=dark] *){
  --tw-bg-opacity: 1;
  background-color: rgb(48 49 54 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(238 238 240 / var(--tw-text-opacity));
}

.rh-button-outline-white{
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity));
  background-color: transparent;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.rh-button-outline-white:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}

.rh-button-outline-white:focus{
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}

.rh-button-outline-white:hover:where([data-theme-mode=dark], [data-theme-mode=dark] *){
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}

.rh-button-outline-white:focus:where([data-theme-mode=dark], [data-theme-mode=dark] *){
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}

.rh-form-control{
  display: block;
  width: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0.5rem;
  border-width: 1px;
  border-style: solid;
  border-color: #00073527;
  --tw-bg-opacity: 1;
  background-color: rgb(249 249 251 / var(--tw-bg-opacity));
  background-clip: padding-box;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  --tw-text-opacity: 1;
  color: rgb(98 99 108 / var(--tw-text-opacity));
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.rh-form-control:focus{
  --tw-border-opacity: 1;
  border-color: rgb(61 54 221 / var(--tw-border-opacity));
}

.rh-form-control:where([data-theme-mode=dark], [data-theme-mode=dark] *){
  border-color: #d9defc33;
  --tw-bg-opacity: 1;
  background-color: rgb(17 17 19 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(178 179 189 / var(--tw-text-opacity));
}

.rh-section{
  position: relative;
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}

@media (min-width: 768px){
  .rh-section{
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.rh-hero-subtitle{
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  --tw-text-opacity: 1;
  color: rgb(61 54 221 / var(--tw-text-opacity));
}

.rh-hero-title{
  margin-left: auto;
  margin-right: auto;
  max-width: 56rem;
  text-align: center;
  font-size: 3rem;
  line-height: 1;
  letter-spacing: -0.025em;
}

@media (min-width: 640px){
  .rh-hero-title{
    font-size: 4.5rem;
    line-height: 1;
  }
}

.rh-hero-text{
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  max-width: 48rem;
  text-align: center;
  font-size: 1.125rem;
  line-height: 1.75rem;
  letter-spacing: -0.025em;
}

.rh-hero-buttons{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  max-width: 20rem;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 1rem;
}

@media (min-width: 640px){
  .rh-hero-buttons{
    max-width: 28rem;
    flex-direction: row;
    justify-content: center;
  }
}

.rh-shape-divider-top,
  .rh-shape-divider-bottom{
  width: 100%;
  overflow: hidden;
  line-height: 1;
}

.rh-shape-divider-top{
  --tw-translate-y: 1px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.rh-shape-divider-bottom{
  --tw-translate-y: -1px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.rh-shape-divider-top svg,
  .rh-shape-divider-bottom svg{
  display: block;
  height: 100px;
  width: 100%;
}

@media (min-width: 768px){
  .rh-shape-divider-top svg,
  .rh-shape-divider-bottom svg{
    height: 130px;
  }
}

@media (min-width: 1280px){
  .rh-shape-divider-top svg,
  .rh-shape-divider-bottom svg{
    height: 10rem;
  }
}

.rh-section-title-wrapper{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  max-width: 48rem;
  text-align: center;
}

@media (min-width: 768px){
  .rh-section-title-wrapper{
    margin-bottom: 3rem;
  }
}

.rh-section-title{
  font-size: 1.875rem;
  line-height: 2.25rem;
  letter-spacing: -0.025em;
}

@media (min-width: 640px){
  .rh-section-title{
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}

@media (min-width: 768px){
  .rh-section-title{
    font-size: 3rem;
    line-height: 1;
  }
}

.rh-section-subtitle{
  margin-top: 1rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  letter-spacing: -0.025em;
}

.rh-card{
  border-radius: 0.75rem;
  --tw-bg-opacity: 1;
  background-color: rgb(253 253 255 / var(--tw-bg-opacity));
  padding: 1.5rem;
  --tw-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04), 0px 8px 16px rgba(0, 0, 0, 0.16);
  --tw-shadow-colored: 0px 2px 4px var(--tw-shadow-color), 0px 8px 16px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

@media (min-width: 1024px){
  .rh-card{
    padding: 1.75rem;
  }
}

.rh-card:where([data-theme-mode=dark], [data-theme-mode=dark] *){
  --tw-bg-opacity: 1;
  background-color: rgb(18 22 41 / var(--tw-bg-opacity));
}

.rh-blog-article{
  display: block;
  width: 100%;
}

.rh-blog-article .rh-blog-thumbnail{
  display: block;
  aspect-ratio: 16 / 9;
  width: 100%;
}

.rh-blog-article .rh-blog-thumbnail img{
  height: 100%;
  width: 100%;
  border-radius: 0.75rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.rh-blog-article .rh-blog-title{
  font-size: 1.25rem;
  line-height: 1.75rem;
  line-height: 1.25;
}

@media (min-width: 640px){
  .rh-blog-article .rh-blog-title{
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

.rh-blog-article .rh-blog-title a{
  color: inherit;
}

.rh-blog-article .rh-blog-title a:hover{
  --tw-text-opacity: 1;
  color: rgb(61 54 221 / var(--tw-text-opacity));
}

.rh-blog-article .rh-blog-title a:hover:where([data-theme-mode=dark], [data-theme-mode=dark] *){
  --tw-text-opacity: 1;
  color: rgb(61 54 221 / var(--tw-text-opacity));
}

.rh-footer{
  --tw-bg-opacity: 1;
  background-color: rgb(13 16 30 / var(--tw-bg-opacity));
  color: rgb(255 255 255 / 0.75);
}

.rh-footer:where([data-theme-mode=dark], [data-theme-mode=dark] *){
  --tw-bg-opacity: 1;
  background-color: rgb(18 22 41 / var(--tw-bg-opacity));
}

.rh-footer-copyright{
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.5rem;
  border-top-width: 1px;
  border-style: solid;
  border-color: #d6e2f916;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
  color: rgb(255 255 255 / 0.6);
}

@media (min-width: 768px){
  .rh-footer-copyright{
    flex-direction: row-reverse;
    justify-content: space-between;
    row-gap: 0px;
  }
}

.rh-scroll-top{
  visibility: hidden;
  position: fixed;
  bottom: 1.25rem;
  right: 1.25rem;
  z-index: 1030;
  display: inline-flex;
  height: 46px;
  width: 46px;
  align-items: center;
  justify-content: center;
  padding: 0px;
  opacity: 0;
  transition-property: opacity,visibility;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.invisible{
  visibility: hidden;
}

.absolute{
  position: absolute;
}

.relative{
  position: relative;
}

.bottom-0{
  bottom: 0px;
}

.left-0{
  left: 0px;
}

.left-1\/2{
  left: 50%;
}

.right-0{
  right: 0px;
}

.top-0{
  top: 0px;
}

.top-1\/2{
  top: 50%;
}

.-z-\[1\]{
  z-index: -1;
}

.-order-1{
  order: -1;
}

.-mx-4{
  margin-left: -1rem;
  margin-right: -1rem;
}

.mx-auto{
  margin-left: auto;
  margin-right: auto;
}

.-mt-8{
  margin-top: -2rem;
}

.mb-1\.5{
  margin-bottom: 0.375rem;
}

.mb-10{
  margin-bottom: 2.5rem;
}

.mb-12{
  margin-bottom: 3rem;
}

.mb-2{
  margin-bottom: 0.5rem;
}

.mb-4{
  margin-bottom: 1rem;
}

.mb-5{
  margin-bottom: 1.25rem;
}

.mb-6{
  margin-bottom: 1.5rem;
}

.mb-8{
  margin-bottom: 2rem;
}

.ml-1{
  margin-left: 0.25rem;
}

.ml-2{
  margin-left: 0.5rem;
}

.mr-1{
  margin-right: 0.25rem;
}

.mt-0{
  margin-top: 0px;
}

.mt-10{
  margin-top: 2.5rem;
}

.mt-12{
  margin-top: 3rem;
}

.mt-20{
  margin-top: 5rem;
}

.mt-7{
  margin-top: 1.75rem;
}

.flex{
  display: flex;
}

.inline-flex{
  display: inline-flex;
}

.grid{
  display: grid;
}

.hidden{
  display: none;
}

.aspect-\[3\/2\]{
  aspect-ratio: 3/2;
}

.h-0\.5{
  height: 0.125rem;
}

.h-20{
  height: 5rem;
}

.h-28{
  height: 7rem;
}

.h-\[42px\]{
  height: 42px;
}

.h-\[46px\]{
  height: 46px;
}

.h-\[50px\]{
  height: 50px;
}

.h-full{
  height: 100%;
}

.h-screen{
  height: 100vh;
}

.max-h-\[600px\]{
  max-height: 600px;
}

.max-h-\[640px\]{
  max-height: 640px;
}

.max-h-\[720px\]{
  max-height: 720px;
}

.w-0\.5{
  width: 0.125rem;
}

.w-28{
  width: 7rem;
}

.w-\[46px\]{
  width: 46px;
}

.w-\[50px\]{
  width: 50px;
}

.w-full{
  width: 100%;
}

.max-w-3xl{
  max-width: 48rem;
}

.shrink{
  flex-shrink: 1;
}

.grow{
  flex-grow: 1;
}

.basis-full{
  flex-basis: 100%;
}

.-translate-x-1\/2{
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.-translate-x-full{
  --tw-translate-x: -100%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.-translate-y-1\/2{
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.-translate-y-full{
  --tw-translate-y: -100%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.translate-x-full{
  --tw-translate-x: 100%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.transform{
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.grid-cols-1{
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.flex-col{
  flex-direction: column;
}

.flex-wrap{
  flex-wrap: wrap;
}

.items-center{
  align-items: center;
}

.justify-center{
  justify-content: center;
}

.gap-1{
  gap: 0.25rem;
}

.gap-2{
  gap: 0.5rem;
}

.gap-4{
  gap: 1rem;
}

.gap-6{
  gap: 1.5rem;
}

.gap-7{
  gap: 1.75rem;
}

.gap-8{
  gap: 2rem;
}

.gap-x-2\.5{
  -moz-column-gap: 0.625rem;
       column-gap: 0.625rem;
}

.gap-x-6{
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
}

.overflow-hidden{
  overflow: hidden;
}

.rounded-2xl{
  border-radius: 1rem;
}

.rounded-full{
  border-radius: 9999px;
}

.rounded-xl{
  border-radius: 0.75rem;
}

.border{
  border-width: 1px;
}

.border-solid{
  border-style: solid;
}

.border-transparent{
  border-color: transparent;
}

.border-white{
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity));
}

.bg-current{
  background-color: currentColor;
}

.bg-primary-light-1{
  --tw-bg-opacity: 1;
  background-color: rgb(253 253 255 / var(--tw-bg-opacity));
}

.bg-primary-light-3{
  --tw-bg-opacity: 1;
  background-color: rgb(237 242 255 / var(--tw-bg-opacity));
}

.bg-primary\/75{
  background-color: rgb(61 54 221 / 0.75);
}

.bg-opacity-75{
  --tw-bg-opacity: 0.75;
}

.bg-section-1{
  background-image: linear-gradient(315deg, rgba(61, 54, 221, 0.75) 0%, rgba(61, 54, 221, 0.75) 100%), url(../img/section-bg-1.svg);
}

.bg-section-2{
  background-image: linear-gradient(315deg, rgba(61, 54, 221, 0.75) 0%, rgba(61, 54, 221, 0.75) 100%), url(../img/section-bg-2.svg);
}

.bg-section-3{
  background-image: linear-gradient(315deg, rgba(61, 54, 221, 0.75) 0%, rgba(61, 54, 221, 0.75) 100%), url(../img/section-bg-3.svg);
}

.bg-subscribe{
  background-image: linear-gradient(315deg, rgba(61, 54, 221, 0.70) 0%, rgba(61, 54, 221, 0.70) 100%), url(../img/subscribe-bg.svg);
}

.bg-cover{
  background-size: cover;
}

.bg-center{
  background-position: center;
}

.bg-no-repeat{
  background-repeat: no-repeat;
}

.fill-body-light-12{
  fill: #1e1f24;
}

.fill-primary{
  fill: #3d36dd;
}

.fill-primary-dark-1{
  fill: #0d101e;
}

.fill-primary-light-1{
  fill: #fdfdff;
}

.fill-white{
  fill: #fff;
}

.stroke-primary{
  stroke: #3d36dd;
}

.object-cover{
  -o-object-fit: cover;
     object-fit: cover;
}

.object-center{
  -o-object-position: center;
     object-position: center;
}

.px-4{
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-5{
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.py-14{
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}

.py-8{
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.py-\[50px\]{
  padding-top: 50px;
  padding-bottom: 50px;
}

.pt-8{
  padding-top: 2rem;
}

.pt-\[18px\]{
  padding-top: 18px;
}

.pt-\[3px\]{
  padding-top: 3px;
}

.text-center{
  text-align: center;
}

.text-2xl\/none{
  font-size: 1.5rem;
  line-height: 1;
}

.text-4xl{
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.text-\[22px\]{
  font-size: 22px;
}

.text-\[22px\]\/tight{
  font-size: 22px;
  line-height: 1.25;
}

.text-\[60px\]\/none{
  font-size: 60px;
  line-height: 1;
}

.text-base{
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-sm{
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-sm\/normal{
  font-size: 0.875rem;
  line-height: 1.5;
}

.text-xl\/none{
  font-size: 1.25rem;
  line-height: 1;
}

.font-normal{
  font-weight: 400;
}

.font-semibold{
  font-weight: 600;
}

.text-blue-500{
  --tw-text-opacity: 1;
  color: rgb(59 130 246 / var(--tw-text-opacity));
}

.text-green-500{
  --tw-text-opacity: 1;
  color: rgb(34 197 94 / var(--tw-text-opacity));
}

.text-inherit{
  color: inherit;
}

.text-primary{
  --tw-text-opacity: 1;
  color: rgb(61 54 221 / var(--tw-text-opacity));
}

.text-purple-500{
  --tw-text-opacity: 1;
  color: rgb(168 85 247 / var(--tw-text-opacity));
}

.text-white{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.text-white\/75{
  color: rgb(255 255 255 / 0.75);
}

.opacity-0{
  opacity: 0;
}

.shadow-4{
  --tw-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04), 0px 8px 16px rgba(0, 0, 0, 0.16);
  --tw-shadow-colored: 0px 2px 4px var(--tw-shadow-color), 0px 8px 16px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.backdrop-blur-3xl{
  --tw-backdrop-blur: blur(64px);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}

.transition-\[backgroun\2c color\]{
  transition-property: backgroun,color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-\[opacity\2c transform\]{
  transition-property: opacity,transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-\[opacity\2c visibility\]{
  transition-property: opacity,visibility;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-\[transform\2c opacity\]{
  transition-property: transform,opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.duration-300{
  transition-duration: 300ms;
}

.disabled,
  :disabled{
  pointer-events: none !important;
  -webkit-user-select: none !important;
     -moz-user-select: none !important;
          user-select: none !important;
  opacity: 0.65 !important;
}

.rh-text-body{
  --tw-text-opacity: 1;
  color: rgb(98 99 108 / var(--tw-text-opacity));
}

.rh-text-body:where([data-theme-mode=dark], [data-theme-mode=dark] *){
  --tw-text-opacity: 1;
  color: rgb(178 179 189 / var(--tw-text-opacity));
}

.rh-text-emphasis{
  --tw-text-opacity: 1;
  color: rgb(30 31 36 / var(--tw-text-opacity));
}

.rh-text-emphasis:where([data-theme-mode=dark], [data-theme-mode=dark] *){
  --tw-text-opacity: 1;
  color: rgb(238 238 240 / var(--tw-text-opacity));
}

.rh-container{
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1.25rem;
  padding-left: 1.25rem;
}

@media (min-width: 640px){
  .rh-container{
    max-width: 640px;
  }
}

@media (min-width: 768px){
  .rh-container{
    max-width: 768px;
  }
}

@media (min-width: 1024px){
  .rh-container{
    max-width: 1024px;
  }
}

@media (min-width: 1280px){
  .rh-container{
    max-width: 1280px;
  }
}

@media (min-width: 1536px){
  .rh-container{
    max-width: 1536px;
  }
}

@media (min-width: 1200px){
  .rh-container{
    max-width: 1200px !important;
  }
}

.rh-navbar.isSticky{
  height: 5rem;
  border-color: #00104010;
  --tw-bg-opacity: 0.75;
  --tw-shadow: 0px 0px 29px 0px rgba(0, 0, 0, 0.08);
  --tw-shadow-colored: 0px 0px 29px 0px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  --tw-backdrop-blur: blur(8px);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}

.rh-navbar.isSticky:where([data-theme-mode=dark], [data-theme-mode=dark] *){
  border-color: #d6e2f916;
  --tw-bg-opacity: 0.75;
}

.rh-navbar.menuShow{
  --tw-bg-opacity: 1;
  --tw-backdrop-blur: blur(0);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}

.rh-navbar.menuShow:where([data-theme-mode=dark], [data-theme-mode=dark] *){
  --tw-bg-opacity: 1;
}

.rh-navbar.menuShow .rh-navbar-collapse{
  visibility: visible;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  opacity: 1;
}

.rh-navbar-link.isActive{
  --tw-text-opacity: 1;
  color: rgb(61 54 221 / var(--tw-text-opacity));
}

#spotlight {
  font-family: inherit;
}

.rh-scroll-top.isShow{
  visibility: visible;
  opacity: 0.7;
}

pre[class*="language-"]{
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border-radius: 0.75rem;
  --tw-bg-opacity: 1;
  background-color: rgb(18 22 41 / var(--tw-bg-opacity));
  padding: 1.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

code{
  font-family: Fira Code, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace !important;
}

.before\:absolute::before{
  content: var(--tw-content);
  position: absolute;
}

.before\:left-1\/2::before{
  content: var(--tw-content);
  left: 50%;
}

.before\:top-0::before{
  content: var(--tw-content);
  top: 0px;
}

.before\:h-0\.5::before{
  content: var(--tw-content);
  height: 0.125rem;
}

.before\:w-\[60px\]::before{
  content: var(--tw-content);
  width: 60px;
}

.before\:-translate-x-1\/2::before{
  content: var(--tw-content);
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.before\:rounded-full::before{
  content: var(--tw-content);
  border-radius: 9999px;
}

.before\:bg-white::before{
  content: var(--tw-content);
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.hover\:bg-white:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.hover\:text-blue-500:hover{
  --tw-text-opacity: 1;
  color: rgb(59 130 246 / var(--tw-text-opacity));
}

.hover\:text-body-light-12:hover{
  --tw-text-opacity: 1;
  color: rgb(30 31 36 / var(--tw-text-opacity));
}

.hover\:text-green-500:hover{
  --tw-text-opacity: 1;
  color: rgb(34 197 94 / var(--tw-text-opacity));
}

.hover\:text-primary:hover{
  --tw-text-opacity: 1;
  color: rgb(61 54 221 / var(--tw-text-opacity));
}

.hover\:text-purple-500:hover{
  --tw-text-opacity: 1;
  color: rgb(168 85 247 / var(--tw-text-opacity));
}

.hover\:text-white:hover{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.hover\:underline:hover{
  text-decoration-line: underline;
}

.focus\:border-transparent:focus{
  border-color: transparent;
}

.focus\:text-body-light-12:focus{
  --tw-text-opacity: 1;
  color: rgb(30 31 36 / var(--tw-text-opacity));
}

.focus\:text-primary:focus{
  --tw-text-opacity: 1;
  color: rgb(61 54 221 / var(--tw-text-opacity));
}

.group:hover .group-hover\:visible{
  visibility: visible;
}

.group:hover .group-hover\:translate-x-0{
  --tw-translate-x: 0px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.group:hover .group-hover\:translate-y-0{
  --tw-translate-y: 0px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.group:hover .group-hover\:bg-primary{
  --tw-bg-opacity: 1;
  background-color: rgb(61 54 221 / var(--tw-bg-opacity));
}

.group:hover .group-hover\:text-white{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.group:hover .group-hover\:opacity-100{
  opacity: 1;
}

@media not all and (min-width: 640px){
  .max-sm\:hidden{
    display: none;
  }
}

@media (min-width: 640px){
  .sm\:block{
    display: block;
  }

  .sm\:w-1\/2{
    width: 50%;
  }

  .sm\:w-2\/3{
    width: 66.666667%;
  }

  .sm\:w-3\/4{
    width: 75%;
  }

  .sm\:flex-row{
    flex-direction: row;
  }

  .sm\:px-6{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .sm\:px-8{
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (min-width: 768px){
  .md\:order-none{
    order: 0;
  }

  .md\:w-1\/2{
    width: 50%;
  }

  .md\:w-2\/3{
    width: 66.666667%;
  }

  .md\:basis-1\/2{
    flex-basis: 50%;
  }

  .md\:flex-row{
    flex-direction: row;
  }

  .md\:gap-16{
    gap: 4rem;
  }

  .md\:px-\[50px\]{
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (min-width: 1024px){
  .lg\:block{
    display: block;
  }

  .lg\:w-1\/3{
    width: 33.333333%;
  }

  .lg\:grid-cols-2{
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.dark\:bg-primary-dark-1:where([data-theme-mode=dark], [data-theme-mode=dark] *){
  --tw-bg-opacity: 1;
  background-color: rgb(13 16 30 / var(--tw-bg-opacity));
}

.dark\:bg-primary-dark-3:where([data-theme-mode=dark], [data-theme-mode=dark] *){
  --tw-bg-opacity: 1;
  background-color: rgb(27 32 81 / var(--tw-bg-opacity));
}

.dark\:bg-opacity-75:where([data-theme-mode=dark], [data-theme-mode=dark] *){
  --tw-bg-opacity: 0.75;
}

.dark\:fill-body-dark-12:where([data-theme-mode=dark], [data-theme-mode=dark] *){
  fill: #eeeef0;
}

.dark\:fill-primary-dark-1:where([data-theme-mode=dark], [data-theme-mode=dark] *){
  fill: #0d101e;
}

.dark\:fill-primary-dark-2:where([data-theme-mode=dark], [data-theme-mode=dark] *){
  fill: #121629;
}

.dark\:hover\:text-blue-500:hover:where([data-theme-mode=dark], [data-theme-mode=dark] *){
  --tw-text-opacity: 1;
  color: rgb(59 130 246 / var(--tw-text-opacity));
}

.dark\:hover\:text-body-dark-12:hover:where([data-theme-mode=dark], [data-theme-mode=dark] *){
  --tw-text-opacity: 1;
  color: rgb(238 238 240 / var(--tw-text-opacity));
}

.dark\:hover\:text-green-500:hover:where([data-theme-mode=dark], [data-theme-mode=dark] *){
  --tw-text-opacity: 1;
  color: rgb(34 197 94 / var(--tw-text-opacity));
}

.dark\:hover\:text-purple-500:hover:where([data-theme-mode=dark], [data-theme-mode=dark] *){
  --tw-text-opacity: 1;
  color: rgb(168 85 247 / var(--tw-text-opacity));
}

.dark\:focus\:text-body-dark-12:focus:where([data-theme-mode=dark], [data-theme-mode=dark] *){
  --tw-text-opacity: 1;
  color: rgb(238 238 240 / var(--tw-text-opacity));
}
